@charset "UTF-8";
/* === base style ===*/
/* line 2, style.scss */
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #545d65; }

/* line 8, style.scss */
a {
  color: #545d65; }

/* line 11, style.scss */
p {
  font-size: 16px;
  line-height: 32px; }

/* line 15, style.scss */
.img-responsive {
  width: 100%;
  height: auto; }

/* line 19, style.scss */
.breadcrumb {
  font-size: 12px;
  line-height: 24px;
  color: #545d65;
  padding: 0;
  margin-bottom: 32px;
  background: none; }

/* line 28, style.scss */
.breadcrumb-item + .breadcrumb-item {
  padding-left: 5px; }

/* line 32, style.scss */
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 5px;
  color: #aaa7a1; }

/* line 36, style.scss */
.breadcrumb-item.active a {
  color: #aaa7a2; }

/* line 39, style.scss */
.header {
  height: 5.5rem; }

/* line 43, style.scss */
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  text-align: left;
  padding-bottom: 40px;
  color: #373f47;
  margin: 0; }

/* line 53, style.scss */
h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  margin-bottom: 32px;
  color: #373f47; }

/* line 62, style.scss */
h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  padding: 16px 0 8px 0;
  color: #373f47; }

/* line 71, style.scss */
.my-flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: auto; }

/* line 80, style.scss */
.my-flex-box {
  margin: 5px;
  padding: 5px;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

/*nav ex*/
/* line 89, style.scss */
.type-excursions {
  overflow: hidden;
  padding: 0 0 40px 0px; }
  /* line 93, style.scss */
  .type-excursions__item {
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left; }
    /* line 100, style.scss */
    .type-excursions__item:nth-last-child(n + 2) {
      margin-right: 16px; }
    /* line 104, style.scss */
    .type-excursions__item a.nav-link:hover {
      border: 1px solid #fbb216; }
    /* line 108, style.scss */
    .type-excursions__item:active,
    .type-excursions__item .nav-link.active {
      background-color: #fbb216;
      border: 1px solid #fbb216; }
      /* line 113, style.scss */
      .type-excursions__item:active a:hover,
      .type-excursions__item .nav-link.active a:hover {
        text-decoration: none; }
      /* line 117, style.scss */
      .type-excursions__item:active a:active,
      .type-excursions__item .nav-link.active a:active {
        color: #ffffff;
        text-decoration: none; }
    /* line 123, style.scss */
    .type-excursions__item a {
      margin: auto;
      font-size: 14px;
      line-height: 32px;
      color: #373f47; }

/* line 132, style.scss */
.type-excursions__item:active,
.type-excursions__item .nav-link.active {
  background-color: #fbb216;
  border: 1px solid #fbb216; }

/* line 138, style.scss */
.type-excursions__item a {
  margin: auto;
  font-size: 14px;
  line-height: 32px;
  color: #373f47;
  border: 1px solid #373f47;
  border-radius: 32px !important;
  padding: 0 20px; }

/* line 151, style.scss */
.type-excursions__item:active,
.type-excursions__item .nav-link.active {
  background-color: #fbb216;
  border: 1px solid #fbb216;
  border-radius: 32px; }

/* line 157, style.scss */
.type-excursions__item {
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left; }

/* line 167, style.scss */
.filter-content {
  font-size: 16px;
  line-height: 32px;
  width: 100%; }
  /* line 172, style.scss */
  .filter-content__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #545d65;
    padding-bottom: 16px; }
  /* line 181, style.scss */
  .filter-content__item:last-child {
    border-bottom: none; }

/* line 186, style.scss */
.filter-content aside {
  max-width: 288px; }

/* line 190, style.scss */
.filter-content__filter,
.filter-content__rating,
.filter-content__data,
.filter-content__price {
  border-bottom: 1px solid #f1f1f1;
  padding: 16px 0; }
  /* line 197, style.scss */
  .filter-content__filter-list,
  .filter-content__rating-list,
  .filter-content__data-list,
  .filter-content__price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

/* line 203, style.scss */
.filter-content__rating:not(:first-child) {
  padding-top: 16px;
  padding-bottom: 0; }

/* line 207, style.scss */
.filter-content__filter,
.filter-content__data-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* === input's ===*/
/* line 216, style.scss */
input[type="radio"],
label {
  cursor: pointer; }

/* line 221, style.scss */
input.rating-list__item-input[type="radio"] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

/* line 231, style.scss */
input.rating-list__item-input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #26a65b; }

/* line 244, style.scss */
input.rating-list__item-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #26a65b;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible; }

/* line 257, style.scss */
input[type="date"] {
  border: none;
  color: #aaa7a2;
  width: 120%;
  font-size: 14px;
  line-height: 24px; }
  /* line 264, style.scss */
  input[type="date"]:active, input[type="date"]:focus {
    border: 0; }

/* line 269, style.scss */
input[type="date"]::-webkit-inner-spin-button {
  display: none; }

/* line 273, style.scss */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url("icons/calendar.svg") no-repeat center;
  background-size: contain; }

/* line 280, style.scss */
.rating-list__item-star img:active {
  background-image: url("icons/star-full.svg"); }

/* line 284, style.scss */
.radio-label {
  line-height: 24px;
  margin: 0;
  vertical-align: top; }

/* line 290, style.scss */
#slider-range {
  margin: 8px 0 16px 0; }

/* line 294, style.scss */
.ui-slider .ui-slider-range {
  background-color: #26a65b; }

/* line 298, style.scss */
.ui-state-default,
.ui-widget-content .ui-state-default {
  font-weight: normal;
  color: #454545;
  background: #26a65b;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 2px #7e7a6a;
          box-shadow: 0px 2px 2px #7e7a6a;
  border-radius: 50%;
  width: 24px;
  height: 24px; }

/* line 311, style.scss */
.ui-widget {
  font-size: 2px; }

/* line 314, style.scss */
.ui-widget.ui-widget-content {
  border: none;
  background: #e0dcd3; }

/* line 319, style.scss */
.ui-widget-content .ui-state-default:focus,
.ui-widget-content .ui-state-default:active {
  outline: 2px solid #26a65b; }

/* line 324, style.scss */
.filter-content__price input[type="text"] {
  color: #aaa7a1;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  border: none;
  width: 100%; }
  /* line 332, style.scss */
  .filter-content__price input[type="text"]:active {
    color: #373f47; }

/* line 337, style.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -12px; }

/* line 341, style.scss */
.filter-content__checkbox {
  margin-bottom: 16px;
  padding: 12px 0 0 0; }

/* line 346, style.scss */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

/* line 351, style.scss */
.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px; }

/* line 359, style.scss */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #545d65;
  border-radius: 9px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

/* line 373, style.scss */
.custom-checkbox:checked + label::before {
  border-color: #26a65b;
  background-color: #fff;
  background-image: url("icons/check.svg"); }

/* стили при наведении курсора на checkbox */
/* line 380, style.scss */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #26a65b; }

/* стили для активного состояния чекбокса (при нажатии на него) */
/* line 384, style.scss */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #26a65b;
  border-color: #26a65b; }

/* стили для чекбокса, находящегося в состоянии disabled */
/* line 390, style.scss */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef; }

/* line 394, style.scss */
.filter-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0; }
  /* line 400, style.scss */
  .filter-content__buttons a:hover, .filter-content__buttons a:focus {
    text-decoration: none; }
  /* line 405, style.scss */
  .filter-content__buttons .buttons {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #aaa7a1;
    border: 1px solid #aaa7a1;
    border-radius: 4px;
    padding: 13px 24px;
    font-weight: 600; }
    /* line 415, style.scss */
    .filter-content__buttons .buttons:nth-last-child(n + 2) {
      margin-right: 16px; }
  /* line 419, style.scss */
  .filter-content__buttons .buttons:active {
    border: 1px solid #26a65b;
    color: #26a65b; }

/* == Сортировка == */
/* line 427, style.scss */
.nav-sort {
  border-bottom: 1px solid #f2eee6; }

/* line 430, style.scss */
.nav-tabs {
  margin-bottom: 24px; }

/* line 434, style.scss */
.nav-link {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  color: #373f47; }
  /* line 440, style.scss */
  .nav-link:hover, .nav-link:focus {
    color: #373f47;
    border: none; }

/* line 447, style.scss */
.nav-tabs .nav-link {
  border: none; }

/* line 450, style.scss */
.nav-tabs .nav-link:hover {
  border: none;
  color: #26a65b; }

/* line 455, style.scss */
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 1px solid #26a65b;
  color: #26a65b; }

/* === cards ===*/
/* line 463, style.scss */
.card {
  border: none;
  -webkit-box-shadow: 0px 4px 8px rgba(126, 122, 106, 0.05);
          box-shadow: 0px 4px 8px rgba(126, 122, 106, 0.05);
  margin-bottom: 24px; }
  /* line 468, style.scss */
  .card-body {
    padding: 20px 24px; }
  /* line 472, style.scss */
  .card-image {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
    height: 208px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
    /* line 479, style.scss */
    .card-image__wrap {
      height: 208px;
      overflow: hidden;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      /* line 488, style.scss */
      .card-image__wrap span {
        position: absolute;
        top: 85%;
        left: 0px;
        -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #dcbe7d), to(#dcbe7d));
        background-image: linear-gradient(#dcbe7d 10%, #dcbe7d 100%);
        text-align: left;
        margin: auto;
        font-size: 13px;
        line-height: 32px;
        color: #ffffff;
        padding: 0 24px;
        border-radius: 0px 4px 0px 0px; }
  /* line 507, style.scss */
  .card-feedback p {
    font-size: 12px;
    line-height: 24px;
    color: #545d65; }
  /* line 513, style.scss */
  .card-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #373f47;
    margin-bottom: 48px; }
  /* line 521, style.scss */
  .card__clock-price, .card-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 24px; }
  /* line 528, style.scss */
  .card__clock {
    font-size: 13px; }
  /* line 532, style.scss */
  .card__price {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #fbb216; }

/* == списки ==*/
/* line 542, style.scss */
section.decription {
  margin: 88px 0 84px; }

/* line 546, style.scss */
.decription__ul-text,
.decription__ol-text {
  font-size: 16px;
  line-height: 28px;
  color: #545d65;
  padding-left: 23px; }

/* line 554, style.scss */
.decription__ul-text {
  list-style-type: disc;
  padding-bottom: 16px; }

/* === dropdown === */
/* line 561, style.scss */
.dropdown {
  padding: 0 16px 24px; }
  /* line 564, style.scss */
  .dropdown-toggle {
    font-size: 14px;
    line-height: 24px;
    color: #26a65b;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid #f2eee6;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    overflow: hidden;
    background: url("icons/dropdown.svg") no-repeat right; }
    /* line 578, style.scss */
    .dropdown-toggle::after {
      border: none; }

/* line 583, style.scss */
.btn.dropdown-toggle {
  color: #26a65b; }
  /* line 586, style.scss */
  .btn.dropdown-toggle:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

/* line 591, style.scss */
.dropdown-menu.show {
  display: block;
  border: 1px solid #26a65b;
  width: 100%; }

/* line 597, style.scss */
.dropdown-item:focus,
.dropdown-item:hover {
  color: #26a65b; }

/* line 602, style.scss */
.dropdown-item {
  font-size: 14px;
  line-height: 24px; }

/* line 607, style.scss */
.rating-list__item,
.filter-content__checkbox ul li {
  list-style-type: none; }

/* === Страны ===*/
/* line 614, style.scss */
.container-country {
  margin-bottom: 48px; }

/* line 617, style.scss */
.card-country {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white; }

/* line 626, style.scss */
.card-country__img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px; }

/* line 632, style.scss */
.card-img-overlay {
  position: absolute;
  top: 70%;
  left: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(55, 63, 71, 0.6)), color-stop(96%, rgba(55, 63, 71, 0.6)));
  background-image: linear-gradient(to bottom, rgba(55, 63, 71, 0.6) 10%, rgba(55, 63, 71, 0.6) 96%);
  padding: 21px 24px 23px 24px;
  text-align: left;
  border-radius: 0 0 8px 8px; }

/* line 645, style.scss */
.card-title {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px; }

/* line 651, style.scss */
.card-excurs {
  font-size: 13px;
  line-height: 16px;
  color: #fbb216;
  margin-bottom: 10px; }

/* line 658, style.scss */
.card-price {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff; }

/* line 665, style.scss */
section.decription-country {
  margin: 64px 0 84px; }
  /* line 668, style.scss */
  section.decription-country h3 {
    padding: 16px 0 24px 0; }
  /* line 672, style.scss */
  section.decription-country h4 {
    font-size: 24px;
    line-height: 32px;
    color: #373f47;
    padding: 20px 0 8px 0; }

/* === Город детально ===*/
/* line 681, style.scss */
.banner__wrap {
  background: url("/img/banners/banner-budapeht.jpg") center no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 104px 224px 72px 224px;
  text-align: center;
  position: relative; }
  /* line 690, style.scss */
  .banner__wrap-descript {
    position: relative;
    z-index: 3; }
  /* line 695, style.scss */
  .banner__wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 42, 48, 0.6);
    z-index: 2;
    border-radius: 8px; }
  /* line 707, style.scss */
  .banner__wrap-rewiews {
    font-size: 0.75rem; }
    /* line 710, style.scss */
    .banner__wrap-rewiews_number {
      font-size: 12px;
      line-height: 24px; }
  /* line 716, style.scss */
  .banner__wrap-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 48px; }
  /* line 725, style.scss */
  .banner__wrap-stars {
    margin-bottom: 8px; }

/* line 730, style.scss */
.promo-section {
  position: relative;
  display: block;
  margin-top: -50px;
  min-height: 104px; }
  /* line 736, style.scss */
  .promo-section__container {
    -webkit-box-shadow: 0px 4px 8px rgba(126, 122, 106, 0.05);
            box-shadow: 0px 4px 8px rgba(126, 122, 106, 0.05);
    padding: 24px; }

/* line 742, style.scss */
.promo-wrap {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  border-radius: 8px;
  max-width: 68.5rem;
  margin: 0 auto; }

/* line 754, style.scss */
.promo-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 100%;
  text-align: center; }
  /* line 760, style.scss */
  .promo-section__content p, .promo-section__content img {
    margin: auto; }
  /* line 765, style.scss */
  .promo-section__content p {
    font-size: 0.875rem;
    font-weight: 700;
    text-align: left;
    padding-left: 18px; }
    /* line 771, style.scss */
    .promo-section__content p span {
      font-weight: 400; }
  /* line 776, style.scss */
  .promo-section__content img {
    max-width: 52px;
    max-height: 52px; }

/* line 782, style.scss */
.decription-city {
  margin-top: 64px; }
  /* line 785, style.scss */
  .decription-city__attractions {
    margin-bottom: 88px; }

/* line 789, style.scss */
.attraction-item {
  overflow: hidden;
  margin: 0;
  width: 100%; }

/* line 794, style.scss */
.attraction-item figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  height: 400px;
  border-radius: 8px; }

/* line 804, style.scss */
.attraction-item figure img {
  position: relative;
  display: block;
  min-height: 100%; }

/* line 809, style.scss */
.attraction-item figure figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(55, 63, 71, 0.6)), color-stop(96%, rgba(55, 63, 71, 0.6)));
  background-image: linear-gradient(to bottom, rgba(55, 63, 71, 0.6) 10%, rgba(55, 63, 71, 0.6) 96%); }

/* line 814, style.scss */
.attraction-item figure figcaption::before,
.attraction-item figure figcaption::after {
  pointer-events: none; }

/* line 818, style.scss */
.attraction-item figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 826, style.scss */
.attraction-item figure h4,
.attraction-item figure p {
  margin: 0; }

/* line 831, style.scss */
.attraction-item__label {
  background: #fbb216;
  border-radius: 0px 8px 8px 0px;
  padding: 8px 16px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5; }

/* line 845, style.scss */
.attraction-item__label img {
  width: 100%;
  position: relative;
  display: block;
  min-height: 100%;
  float: left;
  max-width: 32px;
  margin-right: 8px; }

/* line 855, style.scss */
.attraction-item__label span {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  vertical-align: middle; }

/* line 863, style.scss */
.link_add-see {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #fbb216; }
  /* line 869, style.scss */
  .link_add-see:hover {
    text-decoration: underline;
    color: #fbb216; }

/* Эффект при наведении */
/* line 876, style.scss */
figure.attraction-item__decript img {
  width: 100%; }

/* line 879, style.scss */
figure.attraction-item__decript figcaption {
  top: auto;
  bottom: 0;
  height: 88px;
  text-align: left;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(55, 63, 71, 0.6)), color-stop(96%, rgba(55, 63, 71, 0.6)));
  background-image: linear-gradient(to bottom, rgba(55, 63, 71, 0.6) 10%, rgba(55, 63, 71, 0.6) 96%); }
  /* line 886, style.scss */
  figure.attraction-item__decript figcaption h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 24px 8px 24px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s; }
  /* line 895, style.scss */
  figure.attraction-item__decript figcaption p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
    transition: opacity 0.2s, transform 0.35s, -webkit-transform 0.35s;
    padding: 0 24px 20px 24px; }
  /* line 905, style.scss */
  figure.attraction-item__decript figcaption h4, figure.attraction-item__decript figcaption p {
    color: #ffffff;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); }

/* line 913, style.scss */
figure.attraction-item__decript img:hover figure.attraction-item__decript figcaption {
  height: 160px; }

/* line 917, style.scss */
figure.attraction-item__decript:hover img,
figure.attraction-item__decript:hover p {
  opacity: 1; }

/* line 922, style.scss */
figure.attraction-item__decript:hover h4,
figure.attraction-item__decript:hover p {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

/* line 928, style.scss */
figure.attraction-item__decript:hover figcaption {
  height: 160px; }

/* line 932, style.scss */
figure.attraction-item__decript:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

/* line 939, style.scss */
.attraction-item figure img:hover figure.attraction-item__decript figcaption {
  height: 160px; }

/* line 942, style.scss */
.decription-city__list {
  margin-bottom: 86px; }

/* line 945, style.scss */
.list-included {
  float: left;
  margin-right: 24px; }

/* line 949, style.scss */
.list-not-included {
  float: right; }

/* line 952, style.scss */
.list-included,
.list-not-included {
  list-style-position: inside; }

/* line 956, style.scss */
.list-included li,
.list-not-included li {
  font-size: 16px;
  line-height: 28px;
  color: #545d65;
  padding-left: 36px;
  margin-bottom: 20px; }

/* line 965, style.scss */
.list-included li {
  background: url(/icons/tick-circle.svg) no-repeat left center; }

/* line 968, style.scss */
.list-not-included li {
  background: url(/icons/close-circle.svg) no-repeat left center; }

/* === gallery=== */
/* line 973, style.scss */
.gallery-item {
  padding: 0; }
  /* line 976, style.scss */
  .gallery-item a img {
    padding: 0;
    background-color: none;
    border: none;
    border-radius: 0;
    max-height: 288px;
    width: 100%; }

/* A media query */
@media (max-width: 1440px) {
  /* line 989, style.scss */
  .md-p-12 {
    padding: 0 12px; } }
@media (min-width: 1200px) {
  /* line 995, style.scss */
  .container {
    max-width: 1320px; } }
@media (min-width: 1024px) {
  /* line 1001, style.scss */
  .card-body {
    padding: 10px 12px; }

  /* line 1005, style.scss */
  .md-p-33 {
    padding: 0 33px 0 15px; } }
@media (min-width: 768px) {
  /* line 1011, style.scss */
  .wrapper {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px; } }
@media (max-width: 1024px) {
  /* line 1021, style.scss */
  .md-p-0 {
    padding-left: 0;
    padding-right: 0; }

  /* line 1026, style.scss */
  .md-m-0 {
    margin-left: 0;
    margin-right: 0; }

  /* line 1031, style.scss */
  .md-p-8 {
    padding: 0 8px; }

  /* line 1035, style.scss */
  .filter-content__rating-list {
    margin-bottom: 0; }

  /* line 1039, style.scss */
  .col-sm-6 {
    width: 50%; }

  /* line 1043, style.scss */
  .filter-content__buttons .buttons {
    padding: 10px 12px; } }
@media (max-width: 768px) {
  /* line 1048, style.scss */
  .filter-content__buttons .buttons {
    padding: 13px 43px; }

  /* line 1052, style.scss */
  .filter-content__checkbox ul li:nth-last-child(n + 2) {
    float: left;
    padding-right: 24px; }

  /* line 1057, style.scss */
  .filter-content {
    margin-bottom: 36px; }

  /* line 1060, style.scss */
  .type-excursions {
    padding: 0 0 32px 0px; }

  /* line 1064, style.scss */
  h3 {
    padding: 0 0 32px 0;
    margin: 0; }

  /* line 1068, style.scss */
  .breadcrumb {
    margin-bottom: 24px; }

  /* line 1071, style.scss */
  .p-768-0 {
    padding-left: 0;
    padding-right: 0; }

  /* line 1076, style.scss */
  .page-titile {
    padding: 0; } }
@media (min-width: 769px) and (max-width: 1200px) {
  /* line 1082, style.scss */
  .radio-label {
    font-size: 13px; }

  /* line 1086, style.scss */
  .input[type="date"] {
    font-size: 12px; }

  /* line 1089, style.scss */
  .card-title {
    font-size: 20px; } }
@media only screen and (min-width: 576px) and (max-width: 1024px) {
  /* стили */ }
@media only screen and (max-width: 576px) {
  /* line 1099, style.scss */
  .nav-tabs {
    display: none; }

  /* line 1102, style.scss */
  .filter-content {
    margin-bottom: 24px; }

  /* line 1106, style.scss */
  h1 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    text-align: left; }

  /* line 1113, style.scss */
  h3 {
    padding: 0 0 24px 0; }

  /* line 1117, style.scss */
  .filter-content__filter {
    padding-bottom: 0; }

  /* line 1121, style.scss */
  .breadcrumb {
    padding: 0; }

  /* line 1125, style.scss */
  .filter-content__head .filter-content__title {
    padding-top: 0;
    padding-bottom: 8px; }

  /* line 1130, style.scss */
  .dropdown-menu.show {
    width: 90%; }

  /* line 1134, style.scss */
  .type-excursions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: none;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    /* line 1142, style.scss */
    .type-excursions::-webkit-scrollbar {
      width: 0;
      height: 0; }
    /* line 1146, style.scss */
    .type-excursions__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      font-size: 14px; }

  /* line 1154, style.scss */
  .md-p-0,
  .page-titile {
    padding-left: 16px;
    padding-right: 16px; }

  /* line 1159, style.scss */
  .md-p-8 {
    padding-left: 0;
    padding-right: 0; } }
@media (min-width: 576px) {
  /* line 1166, style.scss */
  .mobile-tabs {
    display: none; } }
@media (max-width: 425px) {
  /* line 1172, style.scss */
  .md-p-12 {
    padding: 0 16px; }

  /* line 1175, style.scss */
  .card-country {
    margin-bottom: 16px; }

  /* line 1178, style.scss */
  .breadcrumb {
    margin-bottom: 16px; } }
@media (max-width: 320px) {
  /* line 1184, style.scss */
  .filter-content__buttons .buttons {
    padding: 13px 24px; }

  /* line 1188, style.scss */
  .filter-content__rating-list,
  .filter-content__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  /* line 1192, style.scss */
  .rating-list__item:first-child {
    padding-right: 45px; }

  /* line 1196, style.scss */
  .filter-content__checkbox ul li:nth-last-child(n + 2) {
    float: none; }

  /* line 1200, style.scss */
  input[type="date"] {
    width: 100%; }

  /* line 1204, style.scss */
  .card-title {
    font-size: 20px; }

  /* line 1207, style.scss */
  .mobile-none {
    display: none; } }

/*# sourceMappingURL=style.css.map */