/* === base style ===*/
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #545d65;
}

a {
  color: #545d65;
}
p {
  font-size: 1rem;
  line-height: 175%;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.breadcrumb {
  font-size: 12px;
  line-height: 24px;
  color: #545d65;
  padding: 0;
  margin-bottom: 32px;
  background: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 5px;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 5px;
  color: #aaa7a1;
}
.breadcrumb-item.active a {
  color: #aaa7a2;
}
.header {
  height: 5.5rem;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  text-align: left;
  padding-bottom: 40px;
  color: #373f47;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  padding-bottom: 32px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  padding: 16px 0 8px 0;
  color: #373f47;
}

.my-flex-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
}
.my-flex-box {
  margin: 5px;
  padding: 5px;
  flex: 2 1 auto;
  align-self: auto;
  order: 0;
}

/*nav ex*/
.type-excursions {
  overflow: hidden;
  padding: 0 0 40px 0px;

  &__item {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    display: flex;
    float: left;

    &:nth-last-child(n + 2) {
      margin-right: 16px;
    }

    & a.nav-link:hover {
      border: 1px solid #fbb216;
    }

    &:active,
    .nav-link.active {
      background-color: #fbb216;
      border: 1px solid #fbb216;

      & a:hover {
        text-decoration: none;
      }

      & a:active {
        color: #ffffff;
        text-decoration: none;
      }
    }

    & a {
      margin: auto;
      font-size: 14px;
      line-height: 32px;
      color: #373f47;
    }
  }
}

.type-excursions__item:active,
.type-excursions__item .nav-link.active {
  background-color: #fbb216;
  border: 1px solid #fbb216;
}

.type-excursions__item a {
  margin: auto;
  font-size: 14px;
  line-height: 32px;
  color: #373f47;
  border: 1px solid #373f47;
  border-radius: 32px !important;
  padding: 0 20px;
}

.type-excursions__item a.nav-link {
}

.type-excursions__item:active,
.type-excursions__item .nav-link.active {
  background-color: #fbb216;
  border: 1px solid #fbb216;
  border-radius: 32px;
}
.type-excursions__item {
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.filter-content {
  font-size: 16px;
  line-height: 32px;
  width: 100%;

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #545d65;
    padding-bottom: 16px;
  }

  &__item {
    &:last-child {
      border-bottom: none;
    }
  }
}
.filter-content aside {
  max-width: 288px;
}

.filter-content__filter,
.filter-content__rating,
.filter-content__data,
.filter-content__price {
  border-bottom: 1px solid #f1f1f1;
  padding: 16px 0;

  &-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.filter-content__rating:not(:first-child) {
  padding-top: 16px;
  padding-bottom: 0;
}
.filter-content__filter,
.filter-content__data-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* === input's ===*/

input[type="radio"],
label {
  cursor: pointer;
}

input.rating-list__item-input[type="radio"] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input.rating-list__item-input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #26a65b;
}

input.rating-list__item-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #26a65b;
  transform: translate(-50%, -50%);
  visibility: visible;
}

input[type="date"] {
  border: none;
  color: #aaa7a2;
  width: 120%;
  font-size: 14px;
  line-height: 24px;

  &:active,
  &:focus {
    border: 0;
  }
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(icons/calendar.svg) no-repeat center;
  background-size: contain;
}

.rating-list__item-star img:active {
  background-image: url("icons/star-full.svg");
}

.radio-label {
  line-height: 24px;
  margin: 0;
  vertical-align: top;
}

#slider-range {
  margin: 8px 0 16px 0;
}

.ui-slider .ui-slider-range {
  background-color: #26a65b;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  font-weight: normal;
  color: #454545;
  background: #26a65b;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(126, 122, 106, 5%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.ui-widget {
  font-size: 2px;
}
.ui-widget.ui-widget-content {
  border: none;
  background: #e0dcd3;
}

.ui-widget-content .ui-state-default:focus,
.ui-widget-content .ui-state-default:active {
  outline: 2px solid #26a65b;
}

.filter-content__price input[type="text"] {
  color: #aaa7a1;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  border: none;
  width: 100%;

  &:active {
    color: #373f47;
  }
}

.ui-slider-horizontal .ui-slider-handle {
  top: -12px;
}

.filter-content__checkbox {
  margin-bottom: 16px;
  padding: 12px 0 0 0;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #545d65;
  border-radius: 9px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #26a65b;
  background-color: #fff;
  background-image: url("icons/check.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #26a65b;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #26a65b;
  border-color: #26a65b;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.filter-content__buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;

  & a:hover,
  & a:focus {
    text-decoration: none;
  }

  & .buttons {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #aaa7a1;
    border: 1px solid #aaa7a1;
    border-radius: 4px;
    padding: 13px 24px;
    font-weight: 600;

    &:nth-last-child(n + 2) {
      margin-right: 16px;
    }
  }
  & .buttons:active {
    border: 1px solid #26a65b;
    color: #26a65b;
  }
}

/* == Сортировка == */

.nav-sort {
  border-bottom: 1px solid #f2eee6;
}
.nav-tabs {
  margin-bottom: 24px;
}

.nav-link {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  color: #373f47;

  &:hover,
  &:focus {
    color: #373f47;
    border: none;
  }
}

.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-link:hover {
  border: none;
  color: #26a65b;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 1px solid #26a65b;
  color: #26a65b;
}

/* === cards ===*/

.card {
  border: none;
  box-shadow: 0px 4px 8px rgba(126, 122, 106, 0.05);
  margin-bottom: 24px;

  &-body {
    padding: 20px 24px;
  }

  &-image {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
    height: 208px;
    width: 100%;
    object-fit: cover;

    &__wrap {
      height: 208px;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      & span {
        position: absolute;
        top: 85%;
        left: 0px;
        transform: translate(0%, 0%);
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(rgba(220, 190, 125, 1) 10%, rgba(220, 190, 125, 1) 100%);
        text-align: left;
        margin: auto;
        font-size: 13px;
        line-height: 32px;
        color: #ffffff;
        padding: 0 24px;
        border-radius: 0px 4px 0px 0px;
      }
    }
  }

  &-feedback p {
    font-size: 12px;
    line-height: 24px;
    color: #545d65;
  }

  &-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #373f47;
    margin-bottom: 48px;
  }

  &__clock-price,
  &-feedback {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
  }

  &__clock {
    font-size: 13px;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #fbb216;
  }
}

/* == списки ==*/

section.decription {
  margin: 88px 0 84px;
}

.decription__ul-text,
.decription__ol-text {
  font-size: 16px;
  line-height: 28px;
  color: #545d65;
  padding-left: 23px;
}

.decription__ul-text {
  list-style-type: disc;
  padding-bottom: 16px;
}

/* === dropdown === */

.dropdown {
  padding: 0 16px 24px;

  &-toggle {
    font-size: 14px;
    line-height: 24px;
    color: #26a65b;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid #f2eee6;
    width: 100%;
    appearance: none;
    overflow: hidden;
    background: url("icons/dropdown.svg") no-repeat right;

    &::after {
      border: none;
    }
  }
}
.btn.dropdown-toggle {
  color: #26a65b;

  &:focus {
    box-shadow: none;
  }
}

.dropdown-menu.show {
  display: block;
  border: 1px solid #26a65b;
  width: 100%;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #26a65b;
}

.dropdown-item {
  font-size: 14px;
  line-height: 24px;
}

.rating-list__item,
.filter-content__checkbox ul li {
  list-style-type: none;
}

/* === Страны ===*/

.container-country {
  margin-bottom: 48px;
}
.card-country {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.card-country__img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.card-img-overlay {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translate(0%, 0%);
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(55, 63, 71, 0.6) 10%, rgba(55, 63, 71, 0.6) 96%);
  padding: 21px 24px 23px 24px;
  text-align: left;
  border-radius: 0 0 8px 8px;
}
.card-title {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}
.card-excurs {
  font-size: 13px;
  line-height: 16px;
  color: #fbb216;
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

section.decription-country {
  margin: 64px 0 84px;

  & h3 {
    padding: 16px 0 24px 0;
  }

  & h4 {
    font-size: 24px;
    line-height: 32px;
    color: #373f47;
    padding: 20px 0 8px 0;
  }
}

/* A media query */

@media (max-width: 1440px) {
  .md-p-12 {
    padding: 0 12px;
  }
}

@media (min-width: 1024px) {
  .card-body {
    padding: 10px 12px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 1024px) {
  .md-p-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .md-m-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .md-p-8 {
    padding: 0 8px;
  }

  .filter-content__rating-list {
    margin-bottom: 0;
  }

  .col-sm-6 {
    width: 50%;
  }

  .filter-content__buttons .buttons {
    padding: 10px 12px;
  }
}
@media (max-width: 768px) {
  .filter-content__buttons .buttons {
    padding: 13px 43px;
  }

  .filter-content__checkbox ul li:nth-last-child(n + 2) {
    float: left;
    padding-right: 24px;
  }

  .filter-content {
    margin-bottom: 36px;
  }
  .type-excursions {
    padding: 0 0 32px 0px;
  }

  h3 {
    padding: 0 0 32px 0;
    margin: 0;
  }
  .breadcrumb {
    margin-bottom: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .radio-label {
    font-size: 13px;
  }

  .input[type="date"] {
    font-size: 12px;
  }
  .card-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  /* стили */
}

@media only screen and (max-width: 576px) {
  .nav-tabs {
    display: none;
  }
  .filter-content {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    text-align: left;
  }
  h3 {
    padding: 0 0 24px 0;
  }

  .filter-content__filter {
    padding-bottom: 0;
  }

  .breadcrumb {
    padding: 0;
  }

  .filter-content__head .filter-content__title {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .dropdown-menu.show {
    width: 90%;
  }

  .type-excursions {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: none;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      font-size: 14px;
    }
  }
}

@media (min-width: 576px) {
  .mobile-tabs {
    display: none;
  }
}

@media (max-width: 425px) {
  .md-p-12 {
    padding: 0 16px;
  }
  .card-country {
    margin-bottom: 16px;
  }
  .breadcrumb {
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .filter-content__buttons .buttons {
    padding: 13px 24px;
  }

  .filter-content__rating-list,
  .filter-content__buttons {
    justify-content: flex-start;
  }
  .rating-list__item:first-child {
    padding-right: 45px;
  }

  .filter-content__checkbox ul li:nth-last-child(n + 2) {
    float: none;
  }

  input[type="date"] {
    width: 100%;
  }
  .md-p-8 {
    padding: 0 16px;
  }
  .card-title {
    font-size: 20px;
  }
  .mobile-none {
    display: none;
  }
}
